/* src/styles/theme.css */
:root {

    // Use system fonts
  --lucid-font-sans: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --lucid-font-serif: Georgia, Cambria, "Times New Roman", Times, serif;

  /* Font sizes */
  --lucid-font-size-xs: 0.75rem; /* 12px */
  --lucid-font-size-sm: 0.875rem; /* 14px */
  --lucid-font-size-md: 1rem; /* 16px */
  --lucid-font-size-lg: 1.125rem; /* 18px */
  --lucid-font-size-xl: 1.25rem; /* 20px */

  /** Font weights */
  --lucid-font-weight-light: 300;
  --lucid-font-weight-regular: 400;
  --lucid-font-weight-medium: 500;
  --lucid-font-weight-semibold: 600;
  --lucid-font-weight-bold: 700;
  --lucid-font-weight-extrabold: 800;
  --lucid-font-weight-black: 900;
  
  /** Line heights */
  --lucid-line-height-none: 1;
  --lucid-line-height-tight: 1.25;
  --lucid-line-height-snug: 1.375;
  --lucid-line-height-normal: 1.5;
  --lucid-line-height-relaxed: 1.625;

  /** Letter spacing */
  --lucid-letter-spacing-tight: -0.025em;
  --lucid-letter-spacing-normal: 0em;
  --lucid-letter-spacing-wide: 0.025em;

  /** Spacing */
  --lucid-spacing-0: 0px; 
  --lucid-spacing-px: 1px;
  --lucid-spacing-0-5: 0.125rem; /* 2px */
  --lucid-spacing-1: 0.25rem; /* 4px */
  --lucid-spacing-1-5: 0.375rem; /* 6px */
  --lucid-spacing-2: 0.5rem; /* 8px */
  --lucid-spacing-2-5: 0.625rem; /* 10px */
  --lucid-spacing-3: 0.75rem; /* 12px */
  --lucid-spacing-4: 1rem; /* 16px */
  --lucid-spacing-5: 1.25rem; /* 20px */
  --lucid-spacing-6: 1.5rem; /* 24px */
  --lucid-spacing-7: 1.75rem; /* 28px */
  --lucid-spacing-8: 2rem; /* 32px */
  --lucid-spacing-9: 2.25rem; /* 36px */
  --lucid-spacing-10: 2.5rem; /* 40px */
  --lucid-spacing-11: 2.75rem; /* 44px */
  --lucid-spacing-12: 3rem; /* 48px */
  --lucid-spacing-14: 3.5rem; /* 56px */
  --lucid-spacing-16: 4rem; /* 64px */
  --lucid-spacing-20: 5rem; /* 80px */
 
  /** Border radius */
  --lucid-rounded-none: 0px; /* 0px */
  --lucid-rounded-sm: 0.125rem; /* 2px */
  --lucid-rounded-md: 0.25rem; /* 4px */
  --lucid-rounded-lg: 0.375rem; /* 6px */
  --lucid-rounded-xl: 0.5rem;  /* 8px */
  --lucid-rounded-2xl: 0.75rem; /* 12px */
  --lucid-rounded-3xl: 1rem;  /* 16px */
  --lucid-rounded-full: 9999px; /* 9999px */

  /** Shadows */
  --lucid-shadow-xs: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --lucid-shadow-sm: 0 4px 6px -2px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
  --lucid-shadow-md: 0 12px 16px -4px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --lucid-shadow-lg: 0 20px 24px -4px rgba(0, 0, 0, 0.1), 0 8px 8px -4px rgba(0, 0, 0, 0.04);
  --lucid-shadow-xl: 0 24px 48px -12px rgba(0, 0, 0, 0.25);

  /** Elevation */
  --lucid-elevation-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --lucid-elevation-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --lucid-elevation-3: 0 4px 6px -2px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
  --lucid-elevation-4: 0 12px 16px -4px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --lucid-elevation-5: 0 20px 24px -4px rgba(0, 0, 0, 0.1), 0 8px 8px -4px rgba(0, 0, 0, 0.04);
  --lucid-elevation-6: 0 24px 48px -12px rgba(0, 0, 0, 0.25);
  --lucid-elevation-7: 0 32px 64px -12px rgba(0, 0, 0, 0.2);
  
  /* Neutral colors */
  --lucid-color-black: 0, 0, 0;
  --lucid-color-white: 255, 255, 255;

  /* Gray colors */
  --lucid-color-gray-50: 248, 250, 252;
  --lucid-color-gray-100: 241, 245, 249;
  --lucid-color-gray-200: 225, 231, 239;
  --lucid-color-gray-300: 203, 213, 225;
  --lucid-color-gray-400: 148, 163, 184;
  --lucid-color-gray-500: 101, 117, 139;
  --lucid-color-gray-600: 72, 86, 106;
  --lucid-color-gray-700: 52, 66, 86;
  --lucid-color-gray-800: 29, 40, 58;
  --lucid-color-gray-900: 15, 23, 41;
  --lucid-color-gray-950: 2, 6, 23;

  /* Primary colors */
  --lucid-color-primary-50: 240, 243, 255;
  --lucid-color-primary-100: 224, 232, 255;
  --lucid-color-primary-200: 200, 211, 254;
  --lucid-color-primary-300: 166, 180, 252;
  --lucid-color-primary-400: 130, 141, 248;
  --lucid-color-primary-500: 100, 103, 242;
  --lucid-color-primary-600: 80, 72, 229;
  --lucid-color-primary-700: 70, 58, 203;
  --lucid-color-primary-800: 56, 48, 163;
  --lucid-color-primary-900: 49, 46, 127;
  --lucid-color-primary-950: 30, 27, 75;

  /* Success colors (green) */
  --lucid-color-success-50: 240, 253, 244;
  --lucid-color-success-100: 220, 252, 231;
  --lucid-color-success-200: 187, 247, 208;
  --lucid-color-success-300: 134, 239, 172;
  --lucid-color-success-400: 74, 222, 128;
  --lucid-color-success-500: 34, 197, 94;
  --lucid-color-success-600: 22, 163, 74;
  --lucid-color-success-700: 21, 128, 61;
  --lucid-color-success-800: 22, 101, 52;
  --lucid-color-success-900: 20, 83, 45;
  --lucid-color-success-950: 5, 46, 22;

  /* Info colors (blue) */
  --lucid-color-info-50: 239, 246, 255;
  --lucid-color-info-100: 219, 234, 254;
  --lucid-color-info-200: 191, 219, 254;
  --lucid-color-info-300: 147, 197, 253;
  --lucid-color-info-400: 96, 165, 250;
  --lucid-color-info-500: 59, 130, 246;
  --lucid-color-info-600: 37, 99, 235;
  --lucid-color-info-700: 29, 78, 216;
  --lucid-color-info-800: 30, 64, 175;
  --lucid-color-info-900: 30, 58, 138;
  --lucid-color-info-950: 23, 37, 84;

  /* Danger colors (red) */
  --lucid-color-danger-50: 253 243 243;
  --lucid-color-danger-100: 253 227 227;
  --lucid-color-danger-200: 252 204 204;
  --lucid-color-danger-300: 248 169 169;
  --lucid-color-danger-400: 242 119 119;
  --lucid-color-danger-500: 229 62 62;
  --lucid-color-danger-600: 211 47 47;
  --lucid-color-danger-700: 178 35 35;
  --lucid-color-danger-800: 147 33 33;
  --lucid-color-danger-900: 122 34 34;
  --lucid-color-danger-950: 66 13 13;

  /* Warning colors (orange) */
  --lucid-color-warning-50: 254 248 238;
  --lucid-color-warning-100: 252 239 216;
  --lucid-color-warning-200: 249 218 175;
  --lucid-color-warning-300: 245 191 124;
  --lucid-color-warning-400: 240 154 71;
  --lucid-color-warning-500: 237 137 54;
  --lucid-color-warning-600: 221 101 25;
  --lucid-color-warning-700: 183 77 23;
  --lucid-color-warning-800: 146 61 26;
  --lucid-color-warning-900: 118 52 24;
  --lucid-color-warning-950: 63 24 11;

  /** z-index */
  --lucid-modal-z-index: 1000;
  --lucid-alert-z-index: 1000;
  --lucid-dropdown-z-index: 1000;
}


/** Lucid button */
:root {
  --lucid-button-position: relative;
  --lucid-button-display: inline-flex;
  --lucid-button-align-items: center;
  --lucid-button-justify-content: center;
  --lucid-button-gap: var(--lucid-spacing-2);
  --lucid-button-font-size: var(--lucid-font-size-sm);
  --lucid-button-padding-x: var(--lucid-spacing-4);
  --lucid-button-padding-y: 0px;
  --lucid-button-height: auto;
  --lucid-button-width: auto;
  --lucid-button-border-radius: var(--lucid-rounded-md);
  --lucid-button-text-decoration: none;
  --lucid-button-font-weight: var(--lucid-font-weight-bold);
  --lucid-button-letter-spacing: var(--lucid-letter-spacing-wide);
  --lucid-button-color: var(--lucid-color-white);
  --lucid-button-font-family: var(--lucid-font-sans);
  --lucid-button-background-color: var(--lucid-color-primary-500);
  --lucid-button-border-color: none;
  --lucid-button-white-space: nowrap;
  --lucid-button-cursor: pointer;
  --lucid-button-user-select: none;
  --lucid-button-box-shadow: none;
  --lucid-button-box-sizing: border-box;
  --lucid-button-outline-offset: 2px;
  --lucid-button-outline-width: 2px;
  --lucid-button-outline-color: transparent;
  --lucid-button-transition: all 200ms ease-in-out;
  --lucid-button-overflow: hidden;
  --lucid-button-opacity: 1;

  --lucid-button-color-hovered: var(--lucid-color-white);
  --lucid-button-color-active: var(--lucid-color-white);
  --lucid-button-color-focused: var(--lucid-color-white);
  --lucid-button-color-selected: var(--lucid-color-white);

  --lucid-button-background-color-hovered: var(--lucid-color-primary-600);
  --lucid-button-background-color-active: var(--lucid-color-primary-700);
  --lucid-button-background-color-focused: var(--lucid-color-primary-600);
  --lucid-button-background-color-selected: var(--lucid-color-primary-600);

  --lucid-button-outline-color-hovered: transparent;
  --lucid-button-outline-color-active: transparent;
  --lucid-button-outline-color-focused: transparent;
  --lucid-button-outline-color-selected: transparent;

  --lucid-button-disabled-opacity: 0.5;
  --lucid-button-disabled-cursor: not-allowed;
}

.lucid-button {

  // shape

  &--shape-rounded {
      --lucid-button-border-radius: var(--lucid-rounded-md);
  }

  &--shape-circle {
      --lucid-button-border-radius: var(--lucid-rounded-full);
  }

  // sizes

  &--size-sm {
      --lucid-button-font-size: var(--lucid-font-size-xs);
  }

  &--size-md {
      --lucid-button-font-size: var(--lucid-font-size-sm);
  }

  &--size-lg {
      --lucid-button-font-size: var(--lucid-font-size-md);
  }

  // Combination: shape and size

  &--shape-rounded#{&}--size-sm {
      --lucid-button-padding-x: var(--lucid-spacing-2);
      --lucid-button-padding-y: 0px;
      --lucid-button-height: var(--lucid-spacing-8);
  }

  &--shape-rounded#{&}--size-md {
      --lucid-button-padding-x: var(--lucid-spacing-4);
      --lucid-button-padding-y: 0px;
      --lucid-button-height: var(--lucid-spacing-10);
  }

  &--shape-rounded#{&}--size-lg {
      --lucid-button-padding-x: var(--lucid-spacing-6);
      --lucid-button-padding-y: 0px;
      --lucid-button-height: var(--lucid-spacing-12);
  }

  &--shape-circle#{&}--size-sm {
      --lucid-button-padding-x: 0px;
      --lucid-button-padding-y: 0px;
      --lucid-button-width: var(--lucid-spacing-8);
      --lucid-button-height: var(--lucid-spacing-8);
  }

  &--shape-circle#{&}--size-md {
      --lucid-button-padding-x: 0px;
      --lucid-button-padding-y: 0px;
      --lucid-button-width: var(--lucid-spacing-10);
      --lucid-button-height: var(--lucid-spacing-10);
  }

  &--shape-circle#{&}--size-lg {
      --lucid-button-padding-x: 0px;
      --lucid-button-padding-y: 0px;
      --lucid-button-width: var(--lucid-spacing-12);
      --lucid-button-height: var(--lucid-spacing-12);
  }

  // Combination: color and variant

  &--color-primary#{&}--variant-solid {
      --lucid-button-color: var(--lucid-color-white);
      --lucid-button-background-color: var(--lucid-color-primary-500);
      --lucid-button-border-color: var(--lucid-color-primary-500);

      --lucid-button-color-hovered: var(--lucid-color-white);
      --lucid-button-color-active: var(--lucid-color-white);
      --lucid-button-color-focused: var(--lucid-color-white);
      --lucid-button-color-selected: var(--lucid-color-white);

      --lucid-button-background-color-hovered: var(--lucid-color-primary-600);
      --lucid-button-background-color-active: var(--lucid-color-primary-700);
      --lucid-button-background-color-focused: var(--lucid-color-primary-600);
      --lucid-button-background-color-selected: var(--lucid-color-primary-600);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-primary-600);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-primary#{&}--variant-tonal {
      --lucid-button-color: var(--lucid-color-primary-600);
      --lucid-button-background-color: var(--lucid-color-primary-100);

      --lucid-button-color-hovered: var(--lucid-color-primary-600);
      --lucid-button-color-active: var(--lucid-color-primary-600);
      --lucid-button-color-focused: var(--lucid-color-primary-600);
      --lucid-button-color-selected: var(--lucid-color-primary-600);

      --lucid-button-background-color-hovered: var(--lucid-color-primary-200);
      --lucid-button-background-color-active: var(--lucid-color-primary-300);
      --lucid-button-background-color-focused: var(--lucid-color-primary-200);
      --lucid-button-background-color-selected: var(--lucid-color-primary-200);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-primary-200);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-primary#{&}--variant-ghost {
      --lucid-button-color: var(--lucid-color-primary-600);
      --lucid-button-background-color: transparent;

      --lucid-button-color-hovered: var(--lucid-color-primary-600);
      --lucid-button-color-active: var(--lucid-color-primary-600);
      --lucid-button-color-focused: var(--lucid-color-primary-600);
      --lucid-button-color-selected: var(--lucid-color-primary-600);

      --lucid-button-background-color-hovered: var(--lucid-color-primary-100);
      --lucid-button-background-color-active: var(--lucid-color-primary-200);
      --lucid-button-background-color-focused: var(--lucid-color-primary-100);
      --lucid-button-background-color-selected: var(--lucid-color-primary-100);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-primary-200);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-primary#{&}--variant-outline {
      --lucid-button-color: var(--lucid-color-primary-500);
      --lucid-button-background-color: transparent;
      --lucid-button-border: 1px solid rgb(var(--lucid-color-primary-500));

      --lucid-button-color-hovered: var(--lucid-color-primary-600);
      --lucid-button-color-active: var(--lucid-color-primary-700);
      --lucid-button-color-focused: var(--lucid-color-primary-600);
      --lucid-button-color-selected: var(--lucid-color-primary-600);

      --lucid-button-background-color-hovered: var(--lucid-color-primary-100);
      --lucid-button-background-color-active: var(--lucid-color-primary-200);
      --lucid-button-background-color-focused: var(--lucid-color-primary-100);
      --lucid-button-background-color-selected: var(--lucid-color-primary-100);

      /*--lucid-button-outline-color-hovered: var(--lucid-color-primary-600);
      --lucid-button-outline-color-active: var(--lucid-color-primary-700);
      --lucid-button-outline-color-focused: var(--lucid-color-primary-600);
      --lucid-button-outline-color-selected: var(--lucid-color-primary-600);*/
  }

  &--color-primary#{&}--variant-link {
      --lucid-button-color: var(--lucid-color-primary-500);
      --lucid-button-background-color: transparent;
      --lucid-button-border: none;
      --lucid-button-text-decoration: underline;

      --lucid-button-color-hovered: var(--lucid-color-primary-600);
      --lucid-button-color-active: var(--lucid-color-primary-700);
      --lucid-button-color-focused: var(--lucid-color-primary-600);
      --lucid-button-color-selected: var(--lucid-color-primary-600);

      --lucid-button-background-color-hovered: transparent;
      --lucid-button-background-color-active: transparent;
      --lucid-button-background-color-focused: transparent;
      --lucid-button-background-color-selected: transparent;

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: transparent;
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-secondary#{&}--variant-solid {
      --lucid-button-color: var(--lucid-color-gray-900);
      --lucid-button-background-color: var(--lucid-color-gray-100);

      --lucid-button-color-hovered: var(--lucid-color-gray-900);
      --lucid-button-color-active: var(--lucid-color-gray-900);
      --lucid-button-color-focused: var(--lucid-color-gray-900);
      --lucid-button-color-selected: var(--lucid-color-gray-900);

      --lucid-button-background-color-hovered: var(--lucid-color-gray-200);
      --lucid-button-background-color-active: var(--lucid-color-gray-300);
      --lucid-button-background-color-focused: var(--lucid-color-gray-200);
      --lucid-button-background-color-selected: var(--lucid-color-gray-200);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-gray-200);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-secondary#{&}--variant-tonal {
      --lucid-button-color: var(--lucid-color-black);
      --lucid-button-background-color: var(--lucid-color-gray-100);

      --lucid-button-color-hovered: var(--lucid-color-black);
      --lucid-button-color-active: var(--lucid-color-black);
      --lucid-button-color-focused: var(--lucid-color-black);
      --lucid-button-color-selected: var(--lucid-color-black);

      --lucid-button-background-color-hovered: var(--lucid-color-gray-200);
      --lucid-button-background-color-active: var(--lucid-color-gray-300);
      --lucid-button-background-color-focused: var(--lucid-color-gray-200);
      --lucid-button-background-color-selected: var(--lucid-color-gray-200);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-gray-200);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-secondary#{&}--variant-ghost {
      --lucid-button-color: var(--lucid-color-black);
      --lucid-button-background-color: transparent;

      --lucid-button-color-hovered: var(--lucid-color-black);
      --lucid-button-color-active: var(--lucid-color-black);
      --lucid-button-color-focused: var(--lucid-color-black);
      --lucid-button-color-selected: var(--lucid-color-black);

      --lucid-button-background-color-hovered: var(--lucid-color-gray-100);
      --lucid-button-background-color-active: var(--lucid-color-gray-200);
      --lucid-button-background-color-focused: var(--lucid-color-gray-100);
      --lucid-button-background-color-selected: var(--lucid-color-gray-100);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-gray-100);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-secondary#{&}--variant-outline {
      --lucid-button-color: var(--lucid-color-gray-900);
      --lucid-button-background-color: transparent;
      --lucid-button-border: 1px solid rgb(var(--lucid-color-gray-400));

      --lucid-button-color-hovered: var(--lucid-color-gray-800);
      --lucid-button-color-active: var(--lucid-color-gray-700);
      --lucid-button-color-focused: var(--lucid-color-gray-800);
      --lucid-button-color-selected: var(--lucid-color-gray-800);

      --lucid-button-background-color-hovered: var(--lucid-color-gray-100);
      --lucid-button-background-color-active: var(--lucid-color-gray-200);
      --lucid-button-background-color-focused: var(--lucid-color-gray-100);
      --lucid-button-background-color-selected: var(--lucid-color-gray-100);

      /*--lucid-button-outline-color-hovered: var(--lucid-color-gray-800);
      --lucid-button-outline-color-active: var(--lucid-color-gray-700);
      --lucid-button-outline-color-focused: var(--lucid-color-gray-800);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-secondary#{&}--variant-link {
      --lucid-button-color: var(--lucid-color-black);
      --lucid-button-background-color: transparent;
      --lucid-button-border: none;
      --lucid-button-text-decoration: underline;

      --lucid-button-color-hovered: var(--lucid-color-gray-800);
      --lucid-button-color-active: var(--lucid-color-gray-700);
      --lucid-button-color-focused: var(--lucid-color-gray-800);
      --lucid-button-color-selected: var(--lucid-color-gray-800);

      --lucid-button-background-color-hovered: transparent;
      --lucid-button-background-color-active: transparent;
      --lucid-button-background-color-focused: transparent;
      --lucid-button-background-color-selected: transparent;

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: transparent;
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-danger#{&}--variant-solid {
      --lucid-button-color: var(--lucid-color-white);
      --lucid-button-background-color: var(--lucid-color-danger-500);

      --lucid-button-color-hovered: var(--lucid-color-white);
      --lucid-button-color-active: var(--lucid-color-white);
      --lucid-button-color-focused: var(--lucid-color-white);
      --lucid-button-color-selected: var(--lucid-color-white);

      --lucid-button-background-color-hovered: var(--lucid-color-danger-600);
      --lucid-button-background-color-active: var(--lucid-color-danger-700);
      --lucid-button-background-color-focused: var(--lucid-color-danger-600);
      --lucid-button-background-color-selected: var(--lucid-color-danger-600);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-danger-600);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-danger#{&}--variant-tonal {
      --lucid-button-color: var(--lucid-color-danger-600);
      --lucid-button-background-color: var(--lucid-color-danger-100);

      --lucid-button-color-hovered: var(--lucid-color-danger-600);
      --lucid-button-color-active: var(--lucid-color-danger-600);
      --lucid-button-color-focused: var(--lucid-color-danger-600);
      --lucid-button-color-selected: var(--lucid-color-danger-600);

      --lucid-button-background-color-hovered: var(--lucid-color-danger-200);
      --lucid-button-background-color-active: var(--lucid-color-danger-300);
      --lucid-button-background-color-focused: var(--lucid-color-danger-200);
      --lucid-button-background-color-selected: var(--lucid-color-danger-200);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-danger-200);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-danger#{&}--variant-ghost {
      --lucid-button-color: var(--lucid-color-danger-600);
      --lucid-button-background-color: transparent;

      --lucid-button-color-hovered: var(--lucid-color-danger-600);
      --lucid-button-color-active: var(--lucid-color-danger-600);
      --lucid-button-color-focused: var(--lucid-color-danger-600);
      --lucid-button-color-selected: var(--lucid-color-danger-600);

      --lucid-button-background-color-hovered: var(--lucid-color-danger-100);
      --lucid-button-background-color-active: var(--lucid-color-danger-200);
      --lucid-button-background-color-focused: var(--lucid-color-danger-100);
      --lucid-button-background-color-selected: var(--lucid-color-danger-100);

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: var(--lucid-color-danger-200);
      --lucid-button-outline-color-selected: transparent;*/
  }

  &--color-danger#{&}--variant-outline {
      --lucid-button-color: var(--lucid-color-danger-500);
      --lucid-button-background-color: transparent;
      --lucid-button-border: 1px solid rgb(var(--lucid-color-danger-500));

      --lucid-button-color-hovered: var(--lucid-color-danger-600);
      --lucid-button-color-active: var(--lucid-color-danger-700);
      --lucid-button-color-focused: var(--lucid-color-danger-600);
      --lucid-button-color-selected: var(--lucid-color-danger-600);

      --lucid-button-background-color-hovered: var(--lucid-color-danger-100);
      --lucid-button-background-color-active: var(--lucid-color-danger-200);
      --lucid-button-background-color-focused: var(--lucid-color-danger-100);
      --lucid-button-background-color-selected: var(--lucid-color-danger-100);

      /*--lucid-button-outline-color-hovered: var(--lucid-color-danger-600);
      --lucid-button-outline-color-active: var(--lucid-color-danger-700);
      --lucid-button-outline-color-focused: var(--lucid-color-danger-600);
      --lucid-button-outline-color-selected: var(--lucid-color-danger-600);*/
  }

  &--color-danger#{&}--variant-link {
      --lucid-button-color: var(--lucid-color-danger-500);
      --lucid-button-background-color: transparent;
      --lucid-button-border: none;
      --lucid-button-text-decoration: underline;

      --lucid-button-color-hovered: var(--lucid-color-danger-600);
      --lucid-button-color-active: var(--lucid-color-danger-700);
      --lucid-button-color-focused: var(--lucid-color-danger-600);
      --lucid-button-color-selected: var(--lucid-color-danger-600);

      --lucid-button-background-color-hovered: transparent;
      --lucid-button-background-color-active: transparent;
      --lucid-button-background-color-focused: transparent;
      --lucid-button-background-color-selected: transparent;

      /*--lucid-button-outline-color-hovered: transparent;
      --lucid-button-outline-color-active: transparent;
      --lucid-button-outline-color-focused: transparent;
      --lucid-button-outline-color-selected: transparent;*/
  }

  position: var(--lucid-button-position);
  display: var(--lucid-button-display);
  align-items: var(--lucid-button-align-items);
  justify-content: var(--lucid-button-justify-content);
  gap: var(--lucid-button-gap);
  font-size: var(--lucid-button-font-size);
  padding: var(--lucid-button-padding-y) var(--lucid-button-padding-x);
  height: var(--lucid-button-height);
  width: var(--lucid-button-width);
  border-radius: var(--lucid-button-border-radius);
  text-decoration: var(--lucid-button-text-decoration);
  font-weight: var(--lucid-button-font-weight);
  letter-spacing: var(--lucid-button-letter-spacing);
  color: rgb(var(--lucid-button-color));
  font-family: var(--lucid-button-font-family);
  background-color: rgb(var(--lucid-button-background-color));
  border: var(--lucid-button-border);
  box-sizing: var(--lucid-button-box-sizing);
  cursor: var(--lucid-button-cursor);
  user-select: var(--lucid-button-user-select);
  box-shadow: var(--lucid-button-box-shadow);
  box-sizing: var(--lucid-button-box-sizing);
  outline-offset: var(--lucid-button-outline-offset);
  //outline-width: var(--lucid-button-outline-width);
  //outline-color: rgb(var(--lucid-button-outline-color));
  outline-width: 0px;
  outline-color: transparent;
  transition: var(--lucid-button-transition);
  overflow: var(--lucid-button-overflow);
  opacity: var(--lucid-button-opacity);

  &:hover:not(:disabled) {
      color: rgb(var(--lucid-button-color-hovered));
      background-color: rgb(var(--lucid-button-background-color-hovered));
      //outline-color: rgb(var(--lucid-button-outline-color-hovered));
      outline-color: transparent !important;
  }

  &:active:not(:disabled) {
      color: rgb(var(--lucid-button-color-active));
      background-color: rgb(var(--lucid-button-background-color-active));
      //outline-color: rgb(var(--lucid-button-outline-color-active));
      outline-color: transparent !important;
  }

  &:focus-visible:not(:disabled) {
      color: rgb(var(--lucid-button-color-focused));
      background-color: rgb(var(--lucid-button-background-color-focused));
      //outline-color: rgb(var(--lucid-button-outline-color-focused));
      outline-color: transparent !important;
  }

  &:disabled {
      opacity: var(--lucid-button-disabled-opacity);
      cursor: var(--lucid-button-disabled-cursor);
  }

  &--selected {
      color: rgb(var(--lucid-button-color-selected)) !important;
      background-color: rgb(var(--lucid-button-background-color-selected)) !important;
      outline-color: transparent;
      //outline-color: rgb(var(--lucid-button-outline-color-selected));
  }
}
